<div class="row">
    <div class="row col-xs-8 item" ng-repeat="item in items">
        <div class="col-xs-9">
            <h4>{{item.name}}</h4>
            <div>{{item.short_name}}</div>
            <div>{{item.description}}</div>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-danger onremove" ng-click="onRemove({index: $index});">Don't want this one!</button>
        </div>
    </div>
    <div class="error" ng-if="items.length === 0">Nothing found</div>
</div>
